<p>Hola <%= @resource.email %>!</p>

<p>Tu cuenta ha sido bloqueada debido a demasiados inicios de sesión inválidos</p>

<p>Dirígete al link de abajo para desbloquear tu cuenta:</p>

<p><%= link_to 'Desbloquear mi cuenta', unlock_url(@resource, unlock_token: @token) %></p>
