<%# <h1>Editing Reserva</h1>
<br/>
<% puts @reserva %>
<%# <%= render 'form', reserva: @reserva %>
<%# <br/> %>
<%# <%= link_to 'Show', usuario_reserva_path(current_usuario, @reserva), class:"btn btn-dark" %> 
<%# <%= link_to 'Back', edit_usuario_reserva_path(current_usuario, @reserva), class:"btn btn-dark" %>
