<% if current_usuario.role == "moderador" %>
    <h1>Editar Producto: </h1>
    <br/>
    <%= render 'form', producto: @producto %>
    <br/>
    <%= link_to 'Volver', productos_path, class:"btn btn-dark" %>
<% end %>
